.flight-card-container{
    border: 1px,solid,rgb(132, 129, 129);
    border-radius: 5px;
    max-width: 430px;
    padding: 3px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);

}
.image{
    height: 25px;
    width: 25px;
}
.flight-card{
    display: flex;
    align-items: center;
}
.heading{
    font-size: 5px;
    margin-bottom: 0px;

}
.flight-name{
    font-size: 10px;
    margin-top: 0px;
    font-weight: 400;

}
.duration{
    margin-left: 20px;
    margin-top: 0px;
    padding-left: 17px;
    display: flex;
    align-items: center;
}
.duration-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow-container{
    font-size: 25px;
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-left: 20px;
}
.arrival{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-left: 25px;

}
.checkbox input:checked{
    background-color: black;
    border-color: black;
}
.amount{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
}
.button{
    border-style: none;
    width: 50px;
    height: 20px;
    font-size: 10px;
    background-color: orange;

}
.amount-conatiner{
    display: flex;
    padding-left: 15px;
    align-items: center;

}
.label-container{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 5px;
}
.bag-container{
    display: flex;
    align-items: center;
}
.verticle{
    width: 1px;
    height: 10px;
    background-color: rgb(195, 192, 192);
    margin-left: 15px;
    margin-right: 5px;
}
.bags-card{
    display: flex;
    align-items: center;
}
