.route-container{
    border: 1px,solid,#d4d6d4;
    border-radius: 5px;
    padding: 0px;
    height: 50px;
    width: 900px;
    display: flex;
    
    
}
.route-items{
    border: 2px,solid,#d4d6d4;
    width: 500px;
    height: 50px;
    display: flex;
    padding: 2px;
}
.verticale{
    width: 1px;
    height: 40px;
    background-color: rgb(215, 214, 214);
    margin-left: 5px;
}
.from{
    font-size: 12px;
}
.button-container{
    display: flex;
    align-items: center;
}
.button{
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px,solid rgb(215,214,214);
}

.return-container{
    border: 2px,solid,#d4d6d4;
    width: 400px;
    height: 50px;
    display: flex;
    padding: 2px;
    display: flex;

}
.head-container{
    display: flex;
}

.flight-summery{
    border: 1px,solid,#d4d6d4;
    border-radius: 5px;
    padding: 0px;
    height: 450px;
    width: 900px;
    display: flex;

}