.Flight-list-container{
  display: flex;
  gap: 16px;
  margin-top: 1px;
  align-items: center; 
  
}
.flights-wrapper{
  display: flex;
  gap: 20px;
}
.flight-details{
    border: 1px,solid,rgb(217, 212, 212);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    width: 435px;
    height: 30px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-size: 12px;
    color: #666;
    padding: 8px;
    background: #f9f9f9;
    border-radius: 4px;
}
.outbound{
    font-size: 10px;
}
.flights{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}